.banner {
    background-color: #3a9c8500;
    color: aliceblue;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
}
.banner {
    background-color: #3a9c850a;
    color: aliceblue;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
}
*{
    margin: 0px;
    padding: 0px;
}

.header{
    background-color: black;
    text-align: center;
    padding: 20px 0px;
}

.header img{
    width: 100px;
}
.stats{
    margin-top: 50px;
}
.stats h3{
    text-align: center;
}
.stats img{
    width: 100%;
}