.banner {
    background-color: #3a9c8500;
    color: aliceblue;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
}
.banner {
    background-color: #3a9c850a;
    color: aliceblue;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
}